<html>
    <head>
        <title>Fix - <%=doc.title%> (<%=doc.year%>) - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
        <script src="/scripts/fix.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <div class="header">
                <h1>Fix - <%=doc.title%> (<%=doc.year%>)</h1>
                <p>File: <%=doc.location%></p>
            </div>
            <p>Wrong metadata for the file? Query in the search boxes and choose the correct one.</p>
                <div class="form-wrapper">
                    <form>
                        <div class="input-wrapper">
                            <input id="fieldTitle" type="text" placeholder="Title">
                            <label>Title:</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="fieldYear" type="text" placeholder="Year">
                            <label>Year:</label>
                        </div>
                        <button id="btnSearch" class="btn"<i class="fas fa-search"></i> Search</button>
                    </form>
                </div>
            <div id="results" class="media-grid-container"></div>
        </div>
    </body>
</html>