<html>
    <head>
        <title><%=doc.title%> - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="details-background">
            <img src="<%=doc.images.backdropWeb%>">
        </div>

        <div class="details-container">
            <div class="details-poster poster-wrapper">
                <img class="details-poster" src="<%=doc.images.posterWeb%>">
            </div>
            <div class="details-info">
                <h1><%=doc.title%></h1>
                <div class="details-wrapper row row-add-spacing">
                    <p><%=doc.year%></p>
                    <p><%=doc.runtime%> min</p>
                    <p class="details-rated"><%=doc.rated%></p>
                </div>
                <div class="details-wrapper">
                    <p>Directed by: <%=doc.director.name%></p>
                    <p>Genres:
                    <% for(var i = 0; i < doc.genres.length; i++) { %>
                        <% if(i == doc.genres.length - 1) { %>
                            <%=doc.genres[i].name%>
                        <% } else { %>
                            <%=doc.genres[i].name%>,
                        <%}%>
                    <%}%>
                    </p>
                </div>
                <br>
                <div class="row row-add-spacing">
                    <button onclick="window.location.href='/watch?id=<%=doc._id%>'" class="btn btn-primary"><i class="fas fa-play"></i> Play</button>
                    <button onclick="window.location.href='/edit?id=<%=doc._id%>'" class="btn"><i class="fas fa-edit"></i> Edit</button>
                </div>
                <br>
                <p class="details-tagline"><%=doc.tagline%></p>
                <br>
                <p><%=doc.plot%></p>
                
                <div class="file-details">
                    <p>File Details:</p>
                    <p><%=doc.videoInfo.videoCodec%>, <%=doc.videoInfo.audioCodec%></p>
                    <p><%=doc.videoInfo.width%> x <%=doc.videoInfo.height%></p>
                    <p><%=doc.location%></p>
                </div>
            </div>
            <div class="details-actors">
                <h2>Cast:</h2>
                <div class="card-scrollpane">
                    <% for(var member in doc.cast) { %>
                        <div class="card profile-box">
                            <a href="#">
                                <img src="<%=doc.cast[member].profileWeb%>" onerror="this.onerror=null;this.src='/img/poster-unknown.png';">
                                <p class="profile-name"><%=doc.cast[member].name%></p>
                                <p class="profile-role">as <%=doc.cast[member].character%></p>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
            <div class="details-similar">
                <h2>Similar Movies:</h2>
                <div class="card-scrollpane">
                    <% for(var doc in similar) { %>
                        <div class="media-box">
                            <a href="/watch?id=<%=similar[doc]._id%>">
                                <div class="poster-wrapper">
                                    <img src="<%=similar[doc].images.posterWeb%>">
                                    <div class="poster-overlay">
                                        <a class="media-info" href="/details?id=<%=similar[doc]._id%>"><i class="fas fa-info-circle"></i></a>
                                        <a class="media-edit" href="/edit?id=<%=similar[doc]._id%>"><i class="fas fa-edit"></i></a>
                                        <a class="media-play" href="/watch?id=<%=similar[doc]._id%>"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                            </a>
                            <p class="media-title"><%=similar[doc].title%></p>
                            <p class="media-year">(<%=similar[doc].year%>)</p>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
</html>