<html>
    <head>
        <title>Edit <%=doc.title%> - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/edit.js"></script>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="settings-container">
            <div class="settings-content">
                <div class="header">
                    <h1>Edit: <%=doc.title%> (<%=doc.year%>)</h1>
                </div>
                <div class="details-file-details">
                    <div class="file-details row row-add-spacing">
                        <p><%=doc.videoInfo.videoCodec%>, <%=doc.videoInfo.audioCodec%>,</p>
                        <p><%=doc.videoInfo.width%> x <%=doc.videoInfo.height%>,</p>
                        <p><%=doc.location%></p>
                    </div>
                </div>
                <div class="input-wrapper">
                    <input id="tmdbApiKey" class="setting" type="text">
                    <label>Title: </label>
                </div>
                <div class="input-wrapper">
                    <input id="tmdbApiKey" class="setting" type="text">
                    <label>Year: </label>
                </div>
            </div>
            <div class="row row-add-spacing">
                <button id="btnDelete" class="btn btn-danger">Delete Media <i class="fas fa-trash-alt"></i></button>
                <button id="btnRefresh" class="btn">Refresh Metadata</button>
            </div>
        </div>
    </body>
</html>