<html>
    <head>
        <title><%=doc.title%> - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
        <script>
            // make id usable in details.js
            const id = '<%=doc._id%>'
        </script>
        <script src="/scripts/movies/movie.js"></script>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>
        <div class="details-background">
            <img src="<%=doc.images.backdropWeb%>">
        </div>

        <div class="details-container">
            <div class="details-poster poster-wrapper">
                <img class="details-poster" src="<%=doc.images.posterWeb%>">
            </div>
            <div class="details-info">
                <h1><%=doc.title%></h1>
                <div class="details-wrapper row row-add-spacing">
                    <p><%=doc.year%></p>
                    <p><%=doc.runtime%> min</p>
                    <p class="details-rated"><%=doc.rated%></p>
                </div>
                <div class="details-wrapper">
                    <p>Directed by: <%=doc.director.name%></p>
                </div>
                <div class="details-wrapper">
                    <p>Genres:
                        <% for(var i = 0; i < doc.genres.length; i++) { %>
                            <% if(i == doc.genres.length - 1) { %>
                                <%=doc.genres[i].name%>
                            <% } else { %>
                                <%=doc.genres[i].name%>,
                            <%}%>
                        <%}%>
                    </p>
                </div>
                <p class="details-tagline"><%=doc.tagline%></p>
                <p><%=doc.plot%></p>
                <div class="details-button-bar row row-add-spacing">
                    <button id="btnPlay" class="btn btn-primary"><i class="fas fa-play"></i> Play</button>
                    <button id="btnEdit" class="btn"><i class="fas fa-edit"></i> Edit</button>
                    <button id="btnFixMetadata" class="btn">Fix Metadata</button>
                </div>
            </div>
            <div class="details-actors">
                <h2>Cast:</h2>
                <div id="actors" class="card-wrapper">

                </div>
                <button id="btnShowMore" class="btn">Show More</button>
            </div>
            <div class="details-similar">
                <h2>Similar Movies:</h2>
                <div class="card-wrapper">
                    <% if(similar.length >= 8) { %>
                        <% for(var i = 0; i < 8; i++) { %>
                            <div class="media-box">
                                <a href="/library/movies/movie?id=<%=similar[i]._id%>">
                                    <div class="poster-wrapper">
                                        <img src="<%=similar[i].images.posterWeb%>">
                                        <div class="poster-overlay">
                                            <a class="media-play" href="/watch?id=<%=similar[i]._id%>"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                </a>
                                <p class="media-title"><%=similar[i].title%></p>
                                <p class="media-year">(<%=similar[i].year%>)</p>
                            </div>
                        <%}%>
                    <%}%>
                </div>
                <button id="btnSeeMore" class="btn">See More</button>
            </div>
            <div class="details-file-details">
                <div class="file-details row row-add-spacing">
                    <p><%=doc.videoInfo.videoCodec%>, <%=doc.videoInfo.audioCodec%>,</p>
                    <p><%=doc.videoInfo.width%> x <%=doc.videoInfo.height%>,</p>
                    <p><%=doc.location%></p>
                </div>
            </div>
        </div>
    </body>
</html>