<html>
    <head>
        <title>Setup - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/setup.js"></script>
    </head>
    <body>
        <div class="container-generic-center">
            <div class="header">
                <h1>Clarity Media Server</h1>
                <h3>First-Time Setup</h3>
            </div>
            <div class="tab">
                <div class="form-wrapper">
                    <form>
                        <h2>Create Admin User</h2>
                        <div class="input-wrapper">
                            <input id="username" class="setting" type="text">
                            <label>Username:</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="password" class="setting" type="password">
                            <label>Password:</label>
                        </div>
                        <div class="input-wrapper">
                            <input id="confirmPassword" class="setting" type="password">
                            <label>Confirm Password:</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab">
                <div class="form-wrapper">
                    <form>
                        <h2>Directories to use</h2>
                        <div class="input-wrapper">
                            <input id="showsDirectory" class="setting" type="text" placeholder="Where your tv shows are stored" value="<%=config.showsDirectory%>">
                            <label>Shows Directory: </label>
                        </div>
                        <div class="input-wrapper">
                            <input id="moviesDirectory" class="setting" type="text" placeholder="Where your movies are stored" value="<%=config.moviesDirectory%>">
                            <label>Movies Directory: </label>
                        </div>
                        <div class="input-wrapper">
                            <input id="imagesDirectory" class="setting" type="text" placeholder="Where you want all images saved" value="<%=config.imagesDirectory%>">
                            <label>Images Directory: </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab">
                <div class="form-wrapper">
                    <form>
                        <h2>Server Configuration</h2>
                        <div class="input-wrapper">
                            <input id="port" class="setting" type="text" value="<%=config.port%>">
                            <label>Port: </label>
                        </div>
                        <div class="input-wrapper">
                            <input id="apiKey" class="setting" type="text" placeholder="This is needed if you want metadata for your library" value="<%=config.tmdbApiKey%>">
                            <label>TMDb Api Key: </label>
                        </div>
                    </form>
                </div>
            </div>
            <tab class="tab">
                <div class="lds-dual-ring"></div>
            </tab>
            <div class="center">
                <p class="text-error" id="txtError"></p>
            </div>
            <div class="btn-bar">
                <button id="btnPrev" class="btn btn">Previous</button>
                <button id="btnNext" class="btn btn-primary">Next</button>
            </div>
        </div>
    </body>
</html>