<html>
    <head>
        <title><%=doc.name%> - <%=season.name%> - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>
        <div class="container">
            <div class="header">
                <h1><%=doc.name%> - <%=season.name%></h1>
                <p>First Aired: <%=season.airDate%></p>
                <details>
                    <summary>Season Overview</summary>
                    <p><%=season.overview%></p>
                </details>
            </div>
            <!-- Media is presented here -->
            <div id="media" class="media-grid-container">
                <% for(let episode of episodes) { %>
                    <div class="media-box">
                        <a href="/watch?id=<%=episode._id%>">
                            <div class="poster-wrapper">
                                <img src="/images/<%=episode.still%>">
                                <div class="poster-overlay">
                                </div>
                            </div>
                        </a>
                        <p class="media-title"><%=episode.name%></p>
                        <p class="media-year">Episode <%=episode.episodeNumber%></p>
                    </div>
                <%}%>
            </div>
        </div>
    </body>
</html>