<html>
    <head>
        <title><%=doc.name%> - Clarity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts_server/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/partials/navbar.js"></script>
        <!--<script src="/scripts/shows/show.js"></script>-->
    </head>
    <body>
        <% include ../partials/navbar.ejs %>
        <div class="container">
            <div class="header">
                <h1><%=doc.name%></h1>
                <p><%=doc.metadata.overview%></p>
            </div>
            <div class="details-background">
                <img src="/images/<%=doc.backdrop%>">
            </div>
            <!-- Media is presented here -->
            <div id="media" class="media-grid-container">
                <% for(let season of doc.seasons) { %>
                    <div class="media-box">
                        <a href="/library/shows/show/<%=doc._id%>/season/<%=season.seasonNumber%>">
                            <div class="poster-wrapper">
                                <img src="/images/<%=season.poster%>">
                                <div class="poster-overlay">
                                </div>
                            </div>
                        </a>
                        <p class="media-title"><%=season.name%></p>
                        <p class="media-year"><%=season.episodeCount%> Episodes</p>
                    </div>
                <%}%>
            </div>
        </div>
    </body>
</html>